/**
* this css is for the free "silk" icon library
* http://www.fanfanfan.com
*
*/
.icon-32 { height:32px; width:32px}
.icon-24 { height:24px; width:24px}

.silk-accept { background-image: url(../images/silk/icons/accept.png) !important; background-repeat: no-repeat; }
.silk-add { background-image: url(../images/silk/icons/add.png) !important; background-repeat: no-repeat; }
.silk-arrow-join { background-image: url(../images/silk/icons/arrow_join.png) !important; background-repeat: no-repeat; }
.silk-arrow-right { background-image: url(../images/silk/icons/arrow_right.png) !important; background-repeat: no-repeat; }
.silk-arrow-redo { background-image: url(../images/silk/icons/arrow_redo.png) !important; background-repeat: no-repeat; }
.silk-asterisk-orange { background-image: url(../images/silk/icons/asterisk_orange.png) !important; background-repeat: no-repeat; }
.silk-bell { background-image: url(../images/silk/icons/bell.png) !important; background-repeat: no-repeat; }
.silk-book { background-image: url(../images/silk/icons/book.png) !important; background-repeat: no-repeat; }
.silk-book-open { background-image: url(../images/silk/icons/book_open.png) !important; background-repeat: no-repeat; }
.silk-building-go { background-image: url(../images/silk/icons/building_go.png) !important; background-repeat: no-repeat; }
.silk-building { background-image: url(../images/silk/icons/building.png) !important; background-repeat: no-repeat; }
.silk-cancel { background-image: url(../images/silk/icons/cancel.png) !important; background-repeat: no-repeat; }
.silk-application { background-image: url(../images/silk/icons/application.png) !important; background-repeat: no-repeat; }
.silk-application-add { background-image: url(../images/silk/icons/application_add.png) !important; background-repeat: no-repeat; }
.silk-application-cascade { background-image: url(../images/silk/icons/application_cascade.png) !important; background-repeat: no-repeat; }
.silk-application-delete { background-image:  url(../images/silk/icons/application_delete.png) !important; background-repeat: no-repeat; }
.silk-application-double { background-image: url(../images/silk/icons/application_double.png) !important; background-repeat: no-repeat; }
.silk-application-edit { background-image: url(../images/silk/icons/application_edit.png) !important; background-repeat: no-repeat; }
.silk-application-error { background-image: url(../images/silk/icons/application_error.png) !important; background-repeat: no-repeat; }
.silk-application-form { background-image: url(../images/silk/icons/application_form.png) !important; background-repeat: no-repeat; }
.silk-application-lightning { background-image: url(../images/silk/icons/application_lightning.png) !important; background-repeat: no-repeat; }
.silk-application-side-boxes { background-image: url(../images/silk/icons/application_side_boxes.png) !important; background-repeat: no-repeat; }
.silk-application-split { background-image: url(../images/silk/icons/application_split.png) !important; background-repeat: no-repeat; }
.silk-application-view_columns { background-image: url(../images/silk/icons/application_view_columns.png) !important; background-repeat: no-repeat; }
.silk-application-view-gallery { background-image: url(../images/silk/icons/application_view_gallery.png) !important; background-repeat: no-repeat; }
.silk-application-view-list { background-image: url(../images/silk/icons/application_view_list.png) !important; background-repeat: no-repeat; }
.silk-application-view-tile { background-image: url(../images/silk/icons/application_view_tile.png) !important; background-repeat: no-repeat; }
.silk-application-xp { background-image: url(../images/silk/icons/application_xp.png) !important; background-repeat: no-repeat; }
.silk-arrow-down { background-image: url(../images/silk/icons/arrow_down.png) !important; background-repeat: no-repeat; }
.silk-arrow-redo { background-image: url(../images/silk/icons/arrow_redo.png) !important; background-repeat: no-repeat; }
.silk-arrow-refresh { background-image: url(../images/silk/icons/arrow_refresh.png) !important; background-repeat: no-repeat; }
.silk-arrow-undo { background-image: url(../images/silk/icons/arrow_undo.png) !important; background-repeat: no-repeat; }
.silk-arrow-up { background-image: url(../images/silk/icons/arrow_up.png) !important; background-repeat: no-repeat; }
.silk-attach { background-image: url(../images/silk/icons/attach.png) !important; background-repeat: no-repeat; }
.silk-award-gold {background-image: url(../images/silk/icons/award_star_gold_2.png) !important}
.silk-building { background-image: url(../images/silk/icons/building.png) !important; background-repeat: no-repeat; }
.silk-box { background-image: url(../images/silk/icons/box.png) !important; background-repeat: no-repeat; }
.silk-bricks { background-image: url(../images/silk/icons/bricks.png) !important; background-repeat: no-repeat; }
.silk-brick { background-image: url(../images/silk/icons/brick.png) !important; background-repeat: no-repeat; }
.silk-cog { background-image: url(../images/silk/icons/cog.png) !important; background-repeat: no-repeat; }
.silk-calendar { background-image: url(../images/silk/icons/calendar.png) !important; background-repeat: no-repeat; }
.silk-calculator { background-image: url(../images/silk/icons/calculator.png) !important; background-repeat: no-repeat; }
.silk-calculator-edit { background-image: url(../images/silk/icons/calculator_edit.png) !important; background-repeat: no-repeat; }
.silk-calendar-day { background-image: url(../images/silk/icons/calendar_view_day.png) !important; background-repeat: no-repeat; }
.silk-calendar-week { background-image: url(../images/silk/icons/calendar_view_week.png) !important; background-repeat: no-repeat; }
.silk-calendar-month { background-image: url(../images/silk/icons/calendar_view_month.png) !important; background-repeat: no-repeat; }
.silk-calendar-edit { background-image: url(../images/silk/icons/calendar_edit.png) !important; background-repeat: no-repeat; }
.silk-clock-red { background-image: url(../images/silk/icons/clock_red.png) !important; background-repeat: no-repeat; }
.silk-chart-line{ background-image: url(../images/silk/icons/chart_line.png) !important; background-repeat: no-repeat; }
.silk-chart-organisation{ background-image: url(../images/silk/icons/chart_organisation.png) !important; background-repeat: no-repeat; }
.silk-cog { background-image: url(../images/silk/icons/cog.png) !important; background-repeat: no-repeat; }

.silk-comment { background-image: url(../images/silk/icons/comment.png) !important; background-repeat: no-repeat; }
.silk-comment-add { background-image: url(../images/silk/icons/comment_add.png) !important; background-repeat: no-repeat; }
.silk-comments { background-image: url(../images/silk/icons/comments.png) !important; background-repeat: no-repeat; }
.silk-creditcards { background-image: url(../images/silk/icons/creditcards.png) !important; background-repeat: no-repeat; }
.silk-cross { background-image: url(../images/silk/icons/cross.png) !important; background-repeat: no-repeat; }
.silk-database { background-image: url(../images/silk/icons/database.png) !important; background-repeat: no-repeat; }
.silk-database-go { background-image: url(../images/silk/icons/database_go.png) !important; background-repeat: no-repeat; }
.silk-date { background-image: url(../images/silk/icons/date.png) !important; background-repeat: no-repeat; }
.silk-delete { background-image: url(../images/silk/icons/delete.png) !important; background-repeat: no-repeat; }
.silk-disconnect { background-image: url(../images/silk/icons/disconnect.png) !important; background-repeat: no-repeat; }
.silk-disk { background-image: url(../images/silk/icons/disk.png) !important; background-repeat: no-repeat; }
.silk-door-out { background-image: url(../images/silk/icons/door_out.png) !important; background-repeat: no-repeat; }
.silk-door-in { background-image: url(../images/silk/icons/door_in.png) !important; background-repeat: no-repeat; }
.silk-email { background-image: url(../images/silk/icons/email.png) !important; background-repeat: no-repeat; }
.silk-email-add { background-image: url(../images/silk/icons/email_add.png) !important; background-repeat: no-repeat; }
.silk-email-edit { background-image: url(../images/silk/icons/email_edit.png) !important; background-repeat: no-repeat; }
.silk-email-go { background-image: url(../images/silk/icons/email_go.png) !important; background-repeat: no-repeat; }
.silk-email-open { background-image: url(../images/silk/icons/email_open.png) !important; background-repeat: no-repeat; }
.silk-error { background-image: url(../images/silk/icons/error.png) !important; background-repeat: no-repeat; }
.silk-exclamation { background-image: url(../images/silk/icons/exclamation.png) !important; background-repeat: no-repeat; }
.silk-feed { background-image: url(../images/silk/icons/feed.png) !important; background-repeat: no-repeat; }
.silk-film { background-image: url(../images/silk/icons/film.png) !important; background-repeat: no-repeat; }
.silk-film-add { background-image: url(../images/silk/icons/film_add.png) !important; background-repeat: no-repeat; }
.silk-flag-red { background-image: url(../images/silk/icons/flag_red.png) !important; background-repeat: no-repeat; }
.silk-flag-green { background-image: url(../images/silk/icons/flag_green.png) !important; background-repeat: no-repeat; }
.silk-folder-edit { background-image: url(../images/silk/icons/folder_edit.png) !important; background-repeat: no-repeat; }
.silk-folder-table { background-image: url(../images/silk/icons/folder_table.png) !important; background-repeat: no-repeat; }
.silk-flag-blue { background-image: url(../images/silk/icons/flag_blue.png) !important; background-repeat: no-repeat; }
.silk-lorry-flatbed { background-image: url(../images/silk/icons/lorry_flatbed.png) !important; background-repeat: no-repeat; }
.silk-folder { background-image: url(../images/silk/icons/folder.png) !important; background-repeat: no-repeat; }
.silk-folder-add { background-image: url(../images/silk/icons/folder_add.png) !important; background-repeat: no-repeat; }
.silk-folder-delete { background-image: url(../images/silk/icons/folder_delete.png) !important; background-repeat: no-repeat; }
.silk-grid { background-image: url(../images/silk/icons/grid.png) !important; background-repeat: no-repeat; }
.silk-group { background-image: url(../images/silk/icons/group.png) !important; background-repeat: no-repeat; }
.silk-group-add { background-image: url(../images/silk/icons/group_add.png) !important; background-repeat: no-repeat; }
.silk-group-delete { background-image: url(../images/silk/icons/group_delete.png) !important; background-repeat: no-repeat; }
.silk-group-key { background-image: url(../images/silk/icons/group_key.png) !important; background-repeat: no-repeat; }
.silk-help { background-image: url(../images/silk/icons/help.png) !important; background-repeat: no-repeat; }
.silk-image { background-image: url(../images/silk/icons/image.png) !important; background-repeat: no-repeat; }
.silk-information { background-image: url(../images/silk/icons/information.png) !important; background-repeat: no-repeat; }
.silk-ipod { background-image: url(../images/silk/icons/ipod.png) !important; background-repeat: no-repeat; }
.silk-key { background-image: url(../images/silk/icons/key.png) !important; background-repeat: no-repeat; }
.silk-key-add { background-image: url(../images/silk/icons/key_add.png) !important; background-repeat: no-repeat; }
.silk-key-delete { background-image: url(../images/silk/icons/key_delete.png) !important; background-repeat: no-repeat; }
.silk-layout { background-image: url(../images/silk/icons/layout.png) !important; background-repeat: no-repeat; }
.silk-layout-add { background-image: url(../images/silk/icons/layout_add.png) !important; background-repeat: no-repeat; }
.silk-layout-content { background-image: url(../images/silk/icons/layout_content.png) !important; background-repeat: no-repeat; }
.silk-lock { background-image: url(../images/silk/icons/lock.png) !important; background-repeat: no-repeat; }
.silk-lock-open { background-image: url(../images/silk/icons/lock_open.png) !important; background-repeat: no-repeat; }
.silk-lorry { background-image: url(../images/silk/icons/lorry.png) !important; background-repeat: no-repeat; }
.silk-lorry-go { background-image: url(../images/silk/icons/lorry_go.png) !important; background-repeat: no-repeat; }
.silk-lorry-add { background-image: url(../images/silk/icons/lorry_add.png) !important; background-repeat: no-repeat; }
.silk-lorry-delete { background-image: url(../images/silk/icons/lorry_delete.png) !important; background-repeat: no-repeat; }
.silk-lorry-error { background-image: url(../images/silk/icons/lorry_error.png) !important; background-repeat: no-repeat; }
.silk-magnifier { background-image: url(../images/silk/icons/magnifier.png) !important; background-repeat: no-repeat; }
.silk-map { background-image: url(../images/silk/icons/map.png) !important; background-repeat: no-repeat; }
.silk-money { background-image: url(../images/silk/icons/money.png) !important; background-repeat: no-repeat; }
.silk-money-add { background-image: url(../images/silk/icons/money_add.png) !important; background-repeat: no-repeat; }
.silk-money-delete { background-image: url(../images/silk/icons/money_delete.png) !important; background-repeat: no-repeat; }
.silk-new { background-image: url(../images/silk/icons/new.png) !important; background-repeat: no-repeat; }
.silk-package { background-image: url(../images/silk/icons/package.png) !important; background-repeat: no-repeat; }
.silk-package-add { background-image: url(../images/silk/icons/package_add.png) !important; background-repeat: no-repeat; }
.silk-package-delete { background-image: url(../images/silk/icons/package_delete.png) !important; background-repeat: no-repeat; }
.silk-package-go { background-image: url(../images/silk/icons/package_go.png) !important; background-repeat: no-repeat; }
.silk-page { background-image: url(../images/silk/icons/page.png) !important; background-repeat: no-repeat; }
.silk-page-go { background-image: url(../images/silk/icons/page_go.png) !important; background-repeat: no-repeat; }
.silk-page-edit { background-image: url(../images/silk/icons/page_edit.png) !important; background-repeat: no-repeat; }
.silk-page-code { background-image: url(../images/silk/icons/page_code.png) !important; background-repeat: no-repeat; }
.silk-page-white { background-image: url(../images/silk/icons/page_white.png) !important; background-repeat: no-repeat; }
.silk-page-white-edit { background-image: url(../images/silk/icons/page_white_edit.png) !important; background-repeat: no-repeat; }
.silk-page-white-stack { background-image: url(../images/silk/icons/page_white_stack.png) !important; background-repeat: no-repeat; }
.silk-page-white-code { background-image: url(../images/silk/icons/page_white_code.png) !important; background-repeat: no-repeat; }
.silk-page-white-code-red { background-image: url(../images/silk/icons/page_white_code_red.png) !important; background-repeat: no-repeat; }
.silk-pencil { background-image: url(../images/silk/icons/pencil.png) !important; background-repeat: no-repeat; }
.silk-phone { background-image: url(../images/silk/icons/phone.png) !important; background-repeat: no-repeat; }
.silk-picture { background-image: url(../images/silk/icons/picture.png) !important; background-repeat: no-repeat; }
.silk-pictures { background-image: url(../images/silk/icons/pictures.png) !important; background-repeat: no-repeat; }
.silk-photos { background-image: url(../images/silk/icons/photos.png) !important; background-repeat: no-repeat; }
.silk-plugin { background-image: url(../images/silk/icons/plugin.png) !important; background-repeat: no-repeat; }
.silk-plugin-add { background-image: url(../images/silk/icons/plugin_add.png) !important; background-repeat: no-repeat; }
.silk-plugin-delete { background-image: url(../images/silk/icons/plugin_delete.png) !important; background-repeat: no-repeat; }
.silk-plugin-disabled { background-image: url(../images/silk/icons/plugin_disabled.png) !important; background-repeat: no-repeat; }
.silk-printer { background-image: url(../images/silk/icons/printer.png) !important; background-repeat: no-repeat; }
.silk-report { background-image: url(../images/silk/icons/report.png) !important; background-repeat: no-repeat; }
.silk-resultset-first { background-image: url(../images/silk/icons/resultset_first.png) !important; background-repeat: no-repeat; }
.silk-resultset-last { background-image: url(../images/silk/icons/resultset_last.png) !important; background-repeat: no-repeat; }
.silk-resultset-next { background-image: url(../images/silk/icons/resultset_next.png) !important; background-repeat: no-repeat; }
.silk-resultset-previous { background-image: url(../images/silk/icons/resultset_previous.png) !important; background-repeat: no-repeat; }
.silk-script { background-image: url(../images/silk/icons/script.png) !important; background-repeat: no-repeat; }
.silk-shield { background-image: url(../images/silk/icons/shield.png) !important; background-repeat: no-repeat; }
.silk-sitemap { background-image: url(../images/silk/icons/sitemap.png) !important; background-repeat: no-repeat; }
.silk-shape-handles { background-image: url(../images/silk/icons/shape_handles.png) !important; background-repeat: no-repeat; }
.silk-shape-align-bottom { background-image: url(../images/silk/icons/shape_align_bottom.png) !important; background-repeat: no-repeat; }
.silk-stop { background-image: url(../images/silk/icons/stop.png) !important; background-repeat: no-repeat; }
.silk-table { background-image: url(../images/silk/icons/table.png) !important; background-repeat: no-repeat; }
.silk-table-edit { background-image: url(../images/silk/icons/table_edit.png) !important; background-repeat: no-repeat; }
.silk-table-multiple { background-image: url(../images/silk/icons/table_multiple.png) !important; background-repeat: no-repeat; }
.silk-table-refresh { background-image: url(../images/silk/icons/table_refresh.png) !important; background-repeat: no-repeat; }
.silk-tag-blue-edit { background-image: url(../images/silk/icons/tag_blue_edit.png) !important; background-repeat: no-repeat; }
.silk-tag { background-image: url(../images/silk/icons/tag.png) !important; background-repeat: no-repeat; }
.silk-telephone { background-image: url(../images/silk/icons/telephone.png) !important; background-repeat: no-repeat; }
.silk-text-signature { background-image: url(../images/silk/icons/text_signature.png) !important; background-repeat: no-repeat; }
.silk-tick { background-image: url(../images/silk/icons/tick.png) !important; background-repeat: no-repeat; }
.silk-user { background-image: url(../images/silk/icons/user.png) !important; background-repeat: no-repeat; }
.silk-user-add { background-image: url(../images/silk/icons/user_add.png) !important; background-repeat: no-repeat; }
.silk-user-comment { background-image: url(../images/silk/icons/user_comment.png) !important; background-repeat: no-repeat; }
.silk-user-delete { background-image: url(../images/silk/icons/user_delete.png) !important; background-repeat: no-repeat; }
.silk-user-edit { background-image: url(../images/silk/icons/user_edit.png) !important; background-repeat: no-repeat; }
.silk-user-go { background-image: url(../images/silk/icons/user_go.png) !important; background-repeat: no-repeat; }
.silk-vcard { background-image: url(../images/silk/icons/vcard.png) !important; background-repeat: no-repeat; }
.silk-vector { background-image: url(../images/silk/icons/vector.png) !important; background-repeat: no-repeat; }
.silk-wrench { background-image: url(../images/silk/icons/wrench.png) !important; background-repeat: no-repeat; }
.silk-world { background-image: url(../images/silk/icons/world.png) !important; background-repeat: no-repeat; }
.silk-zoom { background-image: url(../images/silk/icons/zoom.png) !important; background-repeat: no-repeat; }

/* we have added these to the standard silk style sheet */
.silk-database-save{ background-image:url(../images/silk/icons/database_save.png) !important; background-repeat: no-repeat; }
.silk-database-edit{ background-image:url(../images/silk/icons/database_edit.png) !important; background-repeat: no-repeat; }
.silk-database-error{ background-image:url(../images/silk/icons/database_error.png) !important; background-repeat: no-repeat; }
.silk-database-delete{ background-image:url(../images/silk/icons/database_delete.png) !important; background-repeat: no-repeat; }
.silk-database-add{ background-image:url(../images/silk/icons/database_add.png) !important; background-repeat: no-repeat; }
.silk-key-go{ background-image: url(../images/silk/icons/key_go.png) !important; background-repeat: no-repeat; }
.silk-star {background-image: url(../images/silk/icons/star.png) !important}
.silk-link {background-image: url(../images/silk/icons/link.png) !important}
.silk-house { background-image: url(../images/silk/icons/house.png) !important; background-repeat: no-repeat; }
