<div style="height:40px; background-color:#CEDFF5;">
	<div style="padding: 2px;font-weight: bold; color: rgb(21, 66, 139); font-size: 12px; font-family:arial,tahoma,helvetica,sans-serif;">
	    <div><table style="width:100%;" cellpadding="0" cellspacing="0"><tbody>
	        <tr>
	            <td valign="top" style="width:100%; white-space:nowrap;"><div style="padding-top:2px; padding-left: 2px;">
	                <div>{{ addressBase.base_address_num }}{{ addressBase.suffix }} {{ streetseg.st_name }} {{ streetseg.st_type }}</div>
	                <div>{{ zone.jurisdiction }} {{ zone.zipcode }}</div>
	            </div></td>
	            <td align="right" style="padding-right:5px;"><div id='addr-report-edit-btn'></div></td>
	            <td align="right" style="padding-right:5px;"><div id='addr-report-retire-btn'></div></td>
	        </tr>
	    </tbody></table></div>
	</div>
</div>
<div id="addr-report-tabs">
</div>

