<div style="padding-top:10px; padding-left:5px; padding-right:5px; padding-bottom:5px; color: rgb(120, 120, 120);">

    <div style="font-weight: bold; color: rgb(128, 0, 0); padding-bottom:7px;">Address reports and data are still in alpha version; data is still in development.</div>

    {% if aliases %}
    <div style="font-weight:bold; font-size:12px;">Aliases and alternate street names:</div>
        {% for alias in aliases %}
        <div style="color: rgb(21, 66, 139);">{{ alias.base_address_num }} {{ alias.full_street_name }}</div>
        {% endfor %}
    {% else %}
    <div style="font-weight:bold; font-size:12px;">No aliases or alternate street names were found for this address.</div>
    {% endif %}
    
</div>