<div style="padding-top:10px; padding-left:5px; padding-right:5px; padding-bottom:5px; color: rgb(120, 120, 120);">
    
    <div style="font-weight: bold; color: rgb(128, 0, 0); padding-bottom:7px;">Address reports and data are still in beta version; data is still in development.</div>
    
    <div style="font-weight:bold; font-size:12px;">Address Edit History:</div>
    <div style="color: rgb(21, 66, 139);">
        <table width="100%"><tbody>
            <tr>
                <td valign="top" width="35%">
                    02/18/09 11:13 JJohnson
                    <br/>Awaiting Approval
                </td>
                <td valign="top" width="65%">
                    Edited unit address 32219 attribute
                </td>
            </tr>
            <tr height="10"></tr>
            <tr>
                <td valign="top" width="35%">
                    12/11/08 16:32 ALodge
                    <br/>Approved 12/13/08 10:13
                </td>
                <td valign="top" width="65%">
                    Added unit address
                </td>
            </tr>
            <tr height="10"></tr>
            <tr>
                <td valign="top" width="35%">
                    12/01/08 13:59 Admin
                    <br/>Approved 12/01/08 13:59
                </td>
                <td valign="top" width="65%">
                    Initial Load and QA/QC review of address record into MAD
                </td>
            </tr>
        </tbody></table>
    </div>
</div>