﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link rel="shortcut icon" href="/Media/images/eas-logo.ico" />
	<title>{{applicationInfo.nameShort}}</title>

    <!-- style sheets -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link href="/Media/ui_frameworks/extjs-4.1.0/resources/css/ext-all.css" type="text/css" rel="stylesheet"/>
    <link href="/Media/ui_frameworks/FGI/resources/css/FGI-component-MenuButton.css" rel="stylesheet" type="text/css" />
    {% ifequal applicationInfo.buildId "0" %}
        <link href="/Media/css/MAD.css" type="text/css" rel="stylesheet"/>
    {% else %}
        <link href="/Media/css/MAD_{{applicationInfo.buildId}}.css" type="text/css" rel="stylesheet"/>
    {% endifequal %}
    <link href="/Media/css/silk.css" type="text/css" rel="stylesheet"/>

    <!-- javascript -->
    {% if debug %}
        <script src="/Media/ui_frameworks/OpenLayers-2.12/OpenLayers.debug.js" type="text/javascript"></script>
        <script src="/Media/js/proj4js/lib/proj4js-combined.js" type="text/javascript"></script>
        <script src="/Media/js/proj4js/lib/defs/EPSG2227.js" type="text/javascript"></script>
        <script src="/Media/js/proj4js/lib/defs/EPSG900913.js" type="text/javascript"></script>
        <script src="/Media/ui_frameworks/extjs-4.1.0/ext-all-debug.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/MAD-App.js" type="text/javascript"></script>
        <script src="/Media/ui_frameworks/FGI/widgets/FGI-widgets-Map.js" type="text/javascript"></script>
		<script src="/Media/ui_frameworks/FGI/widgets/FGI-widgets-Login.js" type="text/javascript"></script>
		<script src="/Media/ui_frameworks/FGI/widgets/FGI-widgets-PasswordChange.js" type="text/javascript"></script>
		<script src="/Media/ui_frameworks/FGI/widgets/FGI-widgets-PasswordReset.js" type="text/javascript"></script>
		<script src="/Media/ui_frameworks/FGI/widgets/FGI-widgets-Tasks.js" type="text/javascript"></script>
        <script src="/Media/ui_frameworks/FGI/components/FGI-component-MenuButton.js" type="text/javascript"></script>
        <script src="/Media/ui_frameworks/FGI/components/FGI-component-ButtonWindow.js" type="text/javascript"></script>
		<script src="/Media/ui_frameworks/FGI/openlayers/FGI-openlayers-SimpleJSONFormat.js" type="text/javascript"></script>
		<script src="/Media/ui_frameworks/FGI/openlayers/FGI-openlayers-ClickAndHighlightFeature.js" type="text/javascript"></script>
        <script src="/Media/ui_frameworks/FGI/openlayers/FGI-openlayers-SmartMarker.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/plugins/Ext-grid-RowExpander.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/config/Resources.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/config/Templates.js" type="text/javascript"></script>
		<script src="/Media/js/MAD/widgets/MAD-widgets-Map.js" type="text/javascript"></script>
		<script src="/Media/js/MAD/widgets/MAD-widgets-Search.js" type="text/javascript"></script>
		<script src="/Media/js/MAD/widgets/MAD-widgets-TasksBar.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-AddressReport.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-ClusterReport.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-Results.js" type="text/javascript"></script>
		<script src="/Media/js/MAD/widgets/MAD-widgets-AddressDetailPanel.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-ChangeRequestForm.js" type="text/javascript"></script>
		<script src="/Media/js/MAD/widgets/MAD-widgets-BaseAddressPanel.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-BaseAddressForm.js" type="text/javascript"></script>
		<script src="/Media/js/MAD/widgets/MAD-widgets-UnitAddressGridPanel.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-UnitAddressForm.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-ApnSelectionGrid.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-BaseAddressAccordionPanel.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-ChangeRequestBrowser.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-ProvisionParcelForm.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/widgets/MAD-widgets-Popup.js" type="text/javascript"></script>
		<script src="/Media/js/MAD/MAD-model.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/MAD-utils.js" type="text/javascript"></script>
        <script src="/Media/js/MAD/workflows/MAD-workflows-ChangeRequest.js" type="text/javascript"></script>
    {% else %}
        <script src="/Media/ui_frameworks/OpenLayers-2.12/OpenLayers.js" type="text/javascript"></script>
        <script src="/Media/js/proj4js/lib/proj4js-compressed.js" type="text/javascript"></script>
        <script src="/Media/ui_frameworks/extjs-4.1.0/ext-all.js" type="text/javascript"></script>
        <script src="/Media/eas_{{applicationInfo.buildId}}-min.js" type="text/javascript"></script>
    {% endif %}


    <!-- initialization -->
    <script type="text/javascript" charset="utf-8">
        Ext.namespace('MAD', 'MAD.app');
        // This initialization must be done early so dependent widgets (like the map widget) work properly. -->
        MAD.app.applicationInfo = {
            "name":         "{{ applicationInfo.name }}",
            "nameShort":    "{{ applicationInfo.nameShort }}",
            "version":      "{{ applicationInfo.version }}",
            "env":          "{{ applicationInfo.env }}",
            "dataCenter":   "{{ applicationInfo.dataCenter }}",
            "buildId":      "{{ applicationInfo.buildId }}"
        };
        // Hack to support IE. See http://trac.openlayers.org/wiki/FrequentlyAskedQuestions#WhywontmyvectorlayerworkinIEbeforemypageisdoneloading
		document.namespaces;
        Ext.onReady(MAD.app.init, MAD.app);
    </script>

</head>
<body>
    <div id="loading">
        <img src="/Media/images/large-loading.gif" style="padding-left:14px;width:32px;height:32px;"/>
        <span>Loading...</span>
    </div>
    <div id="map"></div>
</body>
</html>
