
{# todo - move URLs into resources #}
{# todo - some oppotunity for reuse I think - template inheritance #}

<div style="padding-top:10px; padding-left:5px; padding-right:5px; padding-bottom:5px; color: rgb(120, 120, 120);">

    {##### base address info #####}

    <div style="font-weight:bold; font-size:16px;">Base Address</div>

    <table width="85%" cellspacing="0" cellpadding="0" border="1" class="reportgrid" >
        <tbody>
        <tr>
            <th width="25%" style="text-align:center">Unit</th>
            <th width="25%" style="text-align:center">Mailing</th>
            <th width="25%" style="text-align:center">Disposition</th>
            <th width="25%" style="text-align:center">Floor</th>
        </tr>
        <tr>
            <td style="text-align:center">{{baseAddressAddress.unit_num}}</td>
            <td style="text-align:center">{{baseAddressAddress.mailable_flg}}</td>
            <td style="text-align:center">{{baseAddressAddress.disposition_code.disposition_description}}</td>
            <td style="text-align:center">{{baseAddressAddress.floor.floor_description}}</td>
        </tr>
        <tr>
            <th colspan="4" style="text-align:left">&nbsp;&nbsp;&nbsp;APN(s) {{ baseAddressParcels|length }}</th>
        </tr>
        <tr>
            <td colspan="4">
                {% for parcel in baseAddressParcels %}
                  <a href="http://gispub02.sfgov.org/website/sfparcel/showlotinfo.asp?LotIDValue={{ parcel.blk_lot }}" target="_blank">{{ parcel.blk_lot }}</a>&nbsp;&nbsp;&nbsp;
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>        



    {##### unit address info #####}


    <div style="font-weight:bold; font-size:16px;">Unit Addresses</div>
    <div>

        <table width="85%" cellspacing="0" cellpadding="0" border="0" class="reportgrid" >
            <tbody>
            <tr>
                <th width="25%" style="text-align:center">Unit</th>
                <th width="25%" style="text-align:center">Mailing</th>
                <th width="25%" style="text-align:center">Disposition</th>
                <th width="25%" style="text-align:center">Floor</th>
                <th width="25%" style="text-align:center"># of APNs</th>
            </tr>
            {% for unitAddress in unitAddresses %}
                <tr>
                    <td style="text-align:center;vertical-align:text-top;">{{unitAddress.unit_num}}</td>
                    <td style="text-align:center;vertical-align:text-top;">{{unitAddress.mailable_flg}}</td>
                    <td style="text-align:center;vertical-align:text-top;">{{unitAddress.disposition_code.disposition_description}}</td>
                    <td style="text-align:center;vertical-align:text-top;">{{unitAddress.floor.floor_description}}</td>
                    <td style="text-align:center;vertical-align:text-top;">{{ unitAddress.my_parcels|length }}</td>
                </tr>
                <tr style="border-bottom: 1px solid black;">
                    <td colspan=4 style="text-align:left;vertical-align:text-top;">
                        {% for parcel in unitAddress.my_parcels %}
                          <a href="http://gispub02.sfgov.org/website/sfparcel/showlotinfo.asp?LotIDValue={{ parcel.blk_lot }}" target="_blank">{{ parcel.blk_lot }}</a>&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    </div>



</div>