
/* Could not locate resource: /includes/css/master.css */
/* Could not locate resource: /includes/css/wiki-content.css */
/* Could not locate resource: /includes/css/tabs.css */
/* Could not locate resource: /includes/css/menu.css */
/* Could not locate resource: /includes/css/menu-ie.css */
/* Could not locate resource: /includes/css/tables.css */
/* Could not locate resource: /includes/css/panels.css */
/* Could not locate resource: /includes/css/master-ie.css */
/* Could not locate resource: /includes/css/renderer-macros.css */
/* Could not locate resource: /includes/css/content-types.css */
/* Could not locate resource: /includes/css/login.css */
/* Could not locate resource: /includes/css/icons.css */
/* Could not locate resource: /includes/css/information-macros.css */
/* Could not locate resource: /includes/css/layout-macros.css */


/*
    Colors for Confluence (included for all themes by default).
*/
h1, h2, h3, h4, h5, h6,
.wiki-content h1,
.wiki-content h2,
.wiki-content h3,
.wiki-content h4,
.wiki-content h5,
.wiki-content h6,
.pagetitle,
.steptitle,
.substeptitle,
.formtitle,
a.blogHeading,
.more-comments a,
th.confluenceTh,
table.confluenceTable th.confluenceTh,
table.admin th,
.form-element-large,
.form-element-small,
#com-atlassian-confluence .mce_h1 span.mceText,
#com-atlassian-confluence .mce_h2 span.mceText,
#com-atlassian-confluence .mce_h3 span.mceText,
#com-atlassian-confluence .mce_h4 span.mceText,
#com-atlassian-confluence .mce_h5 span.mceText,
#com-atlassian-confluence .mce_h6 span.mceText {
    color: #003366;
}

.wiki-content h1,
.wiki-content h2 {
 	border-bottom-color: #6a8eb3;
}

.wiki-content-preview {
    border-left-color: #6a8eb3;
    border-right-color: #6a8eb3;
}

.pageSectionHeader {
    border-bottom-color: #6a8eb3;
}

.panel {
    border-color: #6a8eb3;
}

.panelHeader,
.menuheading,
.pageheader,
.sectionbottom {
    border-bottom-color: #6a8eb3;
}

.topRow {
    border-top-color: #6a8eb3;
}

.tabletitle, .pageSectionHeader, .section-header h2 {
    color: #003366;
}
.tabletitle, .pageSectionHeader {
	border-bottom-color: #6a8eb3;
}

a:link,
a:visited,
a:active,
a:hover,
#default-labels-header a.add {
	color: #003366;
}

h1 a:hover {
    border-bottom-color: #003366;
}

.spacenametitle-printable,
.spacenametitle-printable a,
.spacenametitle-printable a:visited {
    color: #999999;
}

.navItemOver,
.navItemOver a,
.navItemOver a:visited,
.navItemOver a:hover {
    color: #ffffff;
    background-color: #003366;
}

.navItem {
    background-color: #6a8eb3;
}

.navItem a,
.navItem a:hover,
.navItem a:visited {
    color: #ffffff;
}

.tableview th {
    color: #003366;
    border-bottom-color: #6a8eb3;
}

blockquote {
    border-left-color: #6a8eb3;
}

.navBackgroundBox {
    background: #6a8eb3;
}

.previewBoxTop,
.previewContent,
.previewBoxBottom,
.functionbox {
    border-color: #6a8eb3;
}

.smalltext-blue {
    color: #6a8eb3;
}

.tabnav,
.comment .tabnav,
ul.tabnav {
    border-bottom-color: #6a8eb3;
}

.tabnav .tabs a {
    border-color: #6a8eb3;
    background: #6a8eb3;
}

.tabnav .tabs a:link, .tabnav .tabs a:visited {
    color: #ffffff;
}
.tabnav .tabs a:hover {
    color: #ffffff;
    background: #003366;
    border-color: #003366;
}

.tabnav .spaceActionLinks a:link,
.tabnav .spaceActionLinks a:visited {
    color: #003366;
}

.foldertab-box {
	border-left-color: #6a8eb3;
	border-right-color: #6a8eb3;
	border-bottom-color: #6a8eb3;
}

#squaretab a {
    border-color: #6a8eb3;
}

#squaretab a:link, #squaretab a:visited {
    background-color: #6a8eb3;
}

#squaretab a:hover {
    color: #ffffff;
    background-color: #003366;
    border-color: #003366;
}

table.blogcalendar {
    border-color: #6a8eb3;
}

.blogcalendar th.calendarhead,
a.calendarhead,
a.calendarhead:link,
a.calendarhead:visited,
a.calendarhead:hover {
    background-color: #6a8eb3;
    color: #ffffff;
}

.searchGroupHeading {
    background-color: #6a8eb3;
    color: #ffffff;
}

.permissionTab {
    background: #6a8eb3;
    color: #ffffff;
}

.permissionSuperTab {
    background: #003366;
    color: #ffffff;
}

/* styles for links in the top bar */
.topBarDiv a:link,
.topBarDiv a:visited,
.topBarDiv a:active,
.topBarDiv a:hover,
.topBarDiv {
    color: #ffffff;
}

.topBar {
    background-color: #003366;
}

.basicPanelContainer {
    border-color: #6a8eb3;
}

.greynavbar {
    border-top-color: #6a8eb3
}

div.license-personal {
   background-color: #003366;
   color: #ffffff;
}

div.license-personal a {
   color: #ffffff;
}

.minitab {
    border-bottom-color: #6a8eb3;
}

.minitab a {
    border-top-color: #6a8eb3;
    border-right-color: #6a8eb3;
    border-left-color: #6a8eb3;
}

.minitab .unselected {
    border-bottom-color: #6a8eb3;
    background: #6a8eb3;
}

#header {
    background-color: #003366;
}
#header a,
#breadcrumbs,
#header .ajs-menu-bar li.ajs-menu-item a.trigger {
    color: #ffffff;
}
.breadcrumbs {
 	border-color: #6a8eb3;
}

#navigation, #tab-navigation {
    border-bottom-color: #6a8eb3;
}

.ajs-menu-bar li.ajs-menu-item .ajs-drop-down a {
    color: #535353;
}
#header .ajs-menu-bar li.ajs-menu-item .ajs-drop-down a {
    color: #003366;
}

.menu-section-list li.active a,
.menu-section-list li.active a:hover,
#navigation .ajs-menu-bar .ajs-button a:hover,
/* .ajs-menu-bar .ajs-menu-item.opened, */
.ajs-menu-bar .ajs-menu-item li.active a,
.aui-dd-parent .aui-dropdown li.active,
.aui-dd-parent .aui-dropdown li:hover span,
.aui-dd-parent .aui-dropdown a:focus span,
.ajs-menu-bar .ajs-menu-item.opened .ajs-drop-down li.active a,
#navigation .ajs-menu-bar li.ajs-button a.active,
#header .ajs-menu-bar li.ajs-menu-item.opened .ajs-drop-down li.active a,
.ajs-content-hover .popup-follow a:hover {
    color: #ffffff;
    background-color: #6699cc;
}
#header .ajs-menu-bar li.ajs-menu-item.opened,
#header .ajs-menu-bar li.ajs-menu-item.opened a.trigger {
    background-color: #336699;
    border-color: #336699;
}
.ajs-menu-bar .ajs-menu-item.opened a.trigger {
    background-color: #6699cc;
}

#header .ajs-menu-bar .ajs-drop-down {
    border-color: #003366;
}
#header .ajs-menu-bar .ajs-drop-down li.separator {
    border-top-color: #003366;
}

.tab-navigation .tab a {
    background-color: #6a8eb3;
    border: 1px solid #6a8eb3;
    color: #ffffff;
}
.tab-navigation .tab a:hover {
    color: #ffffff;
    background-color: #003366;
    border-bottom-color: #003366;
}



/***** Pre 2.8 markup styles for backwards compatability ******/
#foldertab {
    border-bottom-color: #6a8eb3;
}

#foldertab li a {
    border-color: #6a8eb3;
    background: #6a8eb3;
}

#foldertab li a:link,
#foldertab li a:visited {
    color: #ffffff;
}
#foldertab li a:hover {
    color: #ffffff;
    background: #003366;
    border-color: #003366;
}

.logoSpaceLink,
.logoSpaceLink a:link,
.logoSpaceLink a:visited,
.logoSpaceLink a:active {
    color: #999999;
}

.logoSpaceLink a:hover {
    color: #003366;
}

.selectedminitab {
    border-color: #6a8eb3
}

.unselectedminitab {
	border-color: #6a8eb3;
	background: #6a8eb3;
}

.tabletitle, .heading-text-color {
    color: #003366;
}

a.unselectedminitab:hover {
	color: #ffffff;
	background: #003366;
	border-color: #003366;
}

ol.autocompleter li.focused {
	background: #6699cc;
	color: #ffffff;
}

/* End colour styles for Confluence */

/* Could not locate resource: /includes/css/default-theme.css */



